<div class="box">
    <div class="box-body">
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Gender</th>
                    <th>Handphone</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% user.forEach((element,i)=>{ %>
                    <tr>
                        <td>
                            <%= i+1 %>
                        </td>
                        <td>
                            <%= element.name %>
                        </td>
                        <td>
                            <%= element.email %>
                        </td>
                        <td>
                            <%= element.roleName %>
                        </td>
                        <td>
                            <%= (element.gender)?(element.gender==1)?"Pria":"Wanita" : ""%>
                        </td>
                        <td>
                            <%= element.handphone %>
                        </td>
                        <td>
                            <%= element.address %>
                        </td>
                        <td>
                            <%= (element.status) ? (element.status==1)?"aktif":"tidak Aktif" : "" %>
                        </td>
                        <td>
                            <% if(element.role!==0){ %>
                                <a href="/admin/listUser/edit/<%=element.encryptId%>">
                                    <button class="box box-solid box-primary" style="height:30px; width:70px">Edit</button>
                                </a>
                                <a href="/admin/listUser/delete/<%=element.encryptId%>">
                                    <button class="box box-solid box-danger" style="height:30px; width:70px ">Delete</button>
                                </a>
                                <% } %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</div>
