<div class="box">
    <div class="box-body">
        <h3>List Mitra</h3>
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Gender</th>
                    <th>Handphone</th>
                    <th>Address</th>
                    <th>Status</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <% 
                let j=1;
                    user.forEach((element)=>{
                        if (element.role==2 || element.role==3){
                %>
                    
                    <tr>
                        <td>
                            <%= j %>
                        </td>
                        <td>
                            <%= element.name %>
                        </td>
                        <td>
                            <%= element.email %>
                        </td>
                        <td>
                            <%= element.getRole(element.role) %>
                        </td>
                        <td>
                            <%= (element.gender)?(element.gender==1)?"Pria":"Wanita" : ""%>
                        </td>
                        <td>
                            <%= element.handphone %>
                        </td>
                        <td>
                            <%= element.address %>
                        </td>
                        <td>
                            <%= (element.status) ? (element.status==1)?"aktif":"tidak Aktif" : "" %>
                        </td>
                        <!-- <td>
                            <% if(element.role!==0){ %>
                                <a href="/admin/listUser/edit/<%=element.encryptId%>">
                                    <button class="box box-solid box-primary" style="height:30px; width:70px">Edit</button>
                                </a>
                                <a href="/admin/listUser/delete/<%=element.encryptId%>">
                                    <button class="box box-solid box-danger" style="height:30px; width:70px ">Delete</button>
                                </a>
                            <% } %>
                        </td> -->
                    </tr>
                    <% j++} }) %>
            </tbody>
        </table>

        <br>
        <h3><i class="fa fa-users"></i> List Pencari Jasa</h3>

        <table id="dataTable-2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Gender</th>
                    <th>Handphone</th>
                    <th>Address</th>
                    <th>Status</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <% 
                let i =1;
                    user.forEach((element)=>{
                        if (element.role==4 || element.role==5){
                %>
                    
                    <tr>
                        <td>
                            <%= i %>
                        </td>
                        <td>
                            <%= element.name %>
                        </td>
                        <td>
                            <%= element.email %>
                        </td>
                        <td>
                            <%= element.getRole(element.role) %>
                        </td>
                        <td>
                            <%= (element.gender)?(element.gender==1)?"Pria":"Wanita" : ""%>
                        </td>
                        <td>
                            <%= element.handphone %>
                        </td>
                        <td>
                            <%= element.address %>
                        </td>
                        <td>
                            <%= (element.status) ? (element.status==1)?"aktif":"tidak Aktif" : "" %>
                        </td>
                        <!-- <td>
                            <% if(element.role!==0){ %>
                                <a href="/admin/listUser/edit/<%=element.encryptId%>">
                                    <button class="box box-solid box-primary" style="height:30px; width:70px">Edit</button>
                                </a>
                                <a href="/admin/listUser/delete/<%=element.encryptId%>">
                                    <button class="box box-solid box-danger" style="height:30px; width:70px ">Delete</button>
                                </a>
                            <% } %>
                        </td> -->
                    </tr>
                    <% i++} }) %>
            </tbody>
        </table>
    </div>
</div>
