<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= title %></h3>
    <a href="/user/company/add" class="btn btn-primary pull-right">Tambah <%= title %></a>
  </div>
  <div class="box-body">
    <table id="dataTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Kategori</th>
          <th>Nama Perusahaan</th>
          <th>Email</th>
          <th>Kota</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
          <% company.forEach((row,i) => { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= row.getCategory(row.category) %></td>
              <td><%= row.name %></td>
              <td><%= row.email %></td>
              <td><%= row.city %></td>
              <td><span class="label label-<%= (row.validation == 1) ? "success" : "warning" %>"><%= (row.validation == 1) ? "valid" : "Pending" %></span></td>
              <td>
                <a href="/user/company/edit/<%= row.id %>" class="btn btn-sm <%= (row.validation == 1) ? "disabled" : "" %>"><b><i class="fa fa-edit fa-1x"></i></b></a>
                <a data-toggle="modal" data-target="#modal-warning" data-message="" data-action="/user/company/delete/<%= row.id %>" style="cursor: pointer;"><b><font color="red"><i class="fa fa-remove fa-1x"></i></font></b></a>
              </td>
            </tr>
          <% }) %>
        </tbody>
    </table>
  </div>
</div>
